<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../style/common/common.css">
    <link rel="stylesheet" href="../../style/layout/cart.css">
    <script src="../../script/jquery3_6_0.js"></script>
    
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="navbar-item" id="nav-logo">
                <b style="font-size: 30px;color:blueviolet;">HTGH-Store</b>
            </div>
            <div class="navbar-item" id="nav-navigation">
                <!-- Navigation here! -->
                <a href="product.html" class="item" id="nav-product">Products</a>
                <a href="aboutus.html" class="item" id="nav-aboutus">About Us</a>
                <a href="contact.html" class="item" id="nav-contact">Contact</a>
                <a href="address.html" class="item" id="nav-address">Address</a>
            </div>
            <div class="navbar-item" id="nav-user-access">
                <!-- <div class="button" id="cart-button">Cart</div>
                <div class="button" id="user-button">User_Name</div>
                <a class="button" id="logout-button" href="homepage.html">Log out</a> -->
            </div>
        </div>
        <div class="content">
            Paying
        </div>
    </div>
    <!-- JS cho User -->
    <script src="../../script/common/common.js"></script>
    <script src="../../script/layout/cart.js"></script>
</body>
</html>